<div class="container-fluid">
  <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="javascript:void(0)">{{ title }}</a>
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#mynavbar"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="mynavbar">
        <ul class="navbar-nav me-auto">
          <li class="nav-item">
            <a
              class="nav-link"
              routerLink="list-all-policy"
              routerLinkActive="active"
              >List All Policies</a
            >
          </li>
          <li class="nav-item">
            <a
              class="nav-link"
              routerLink="search-policy"
              routerLinkActive="active"
              >Search Policy</a
            >
          </li>
          <li class="nav-item">
            <a
              class="nav-link"
              routerLink="list-all-customer"
              routerLinkActive="active"
              >List All Customers</a
            >
          </li>
        </ul>
        <form class="d-flex">
          <input class="form-control me-2" type="text" placeholder="Search" />
          <button class="btn btn-primary" type="button">Search</button>
        </form>
      </div>
    </div>
  </nav>
  <div class="lds-roller" *ngIf="showLoadingIndicator">
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
  </div>
  <div class="mt-3">
    <router-outlet></router-outlet>
  </div>
</div>
