<div *ngIf="policyDetails">
  <kendo-grid
    [data]="gridViewData"
    [resizable]="true"
    [pageSize]="pageSize"
    [skip]="skip"
    [pageable]="true"
    (pageChange)="pageChange($event)"
    [sortable]="{
      allowUnsort: true,
      mode: 'single'
    }"
    [sort]="sortDesc"
    (sortChange)="sortChange($event)"
  >
    <kendo-grid-column field="id" title="Id" [width]="75"> </kendo-grid-column>
    <kendo-grid-column field="policyId" title="Policy Id"> </kendo-grid-column>
    <kendo-grid-column field="policyName" title="PolicyName">
    </kendo-grid-column>
    <kendo-grid-column field="startDate" title="Start Date">
    </kendo-grid-column>
    <kendo-grid-column field="durationInYears" title="Duration In Years">
    </kendo-grid-column>
    <kendo-grid-column field="companyName" title="Company Name">
    </kendo-grid-column>
    <kendo-grid-column field="initialDeposit" title="Initial Deposit">
      <ng-template kendoGridCellTemplate let-dataItem>
        {{ dataItem.initialDeposit | currency: "USD" }}
      </ng-template>
    </kendo-grid-column>
    <kendo-grid-column field="policyType" title="Policy Type">
    </kendo-grid-column>
    <kendo-grid-column field="userTypes" title="User Types">
    </kendo-grid-column>
    <kendo-grid-column field="termsPerYear" title="Terms Per Year">
    </kendo-grid-column>
    <kendo-grid-column field="termAmount" title="Term Amount">
      <ng-template kendoGridCellTemplate let-dataItem>
        {{ dataItem.termAmount | currency: "USD" }}
      </ng-template>
    </kendo-grid-column>
    <kendo-grid-column field="interest" title="Interest">
      <ng-template kendoGridCellTemplate let-dataItem>
        {{ dataItem.interest }}%
      </ng-template>
    </kendo-grid-column>
    <kendo-grid-column field="maturityAmount" title="Maturity Amount">
      <ng-template kendoGridCellTemplate let-dataItem>
        {{ dataItem.maturityAmount | currency: "USD" }}
      </ng-template>
    </kendo-grid-column>
  </kendo-grid>
</div>
<!-- <div *ngIf="policyDetails">
  <table class="table table-bordered table-striped">
    <thead>
      <tr>
        <th>Id</th>
        <th>Policy Id</th>
        <th>Policy Name</th>
        <th>Start Date</th>
        <th>Duration In Years</th>
        <th>Company Name</th>
        <th>Initial Deposit</th>
        <th>Policy Type</th>
        <th>User Types</th>
        <th>Terms Per Year</th>
        <th>Term Amount</th>
        <th>Interest</th>
        <th>Maturity Amount</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let policyDetail of policyDetails">
        <td>{{ policyDetail.id }}</td>
        <td>{{ policyDetail.policyId }}</td>
        <td>{{ policyDetail.policyName }}</td>
        <td>{{ policyDetail.startDate }}</td>
        <td>{{ policyDetail.durationInYears }}</td>
        <td>{{ policyDetail.companyName }}</td>
        <td>{{ policyDetail.initialDeposit | currency: "USD" }}</td>
        <td>{{ policyDetail.policyType }}</td>
        <td>{{ policyDetail.userTypes }}</td>
        <td>{{ policyDetail.termsPerYear }}</td>
        <td>{{ policyDetail.termAmount | currency: "USD" }}</td>
        <td>{{ policyDetail.interest }}%</td>
        <td>{{ policyDetail.maturityAmount | currency: "USD" }}</td>
      </tr>
    </tbody>
  </table>
</div> -->
